
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-9sG {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-nrfg-6Gi {
    margin-bottom: 8.5rem;
    width: 100%;
    height: 129.3rem;
    position: relative;
    flex-shrink: 0;

    .top-backgr-2RG {
      border-radius: 4.7rem;
      width: 145rem;
      height: 117.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(270deg, #e8d5f6 0%, rgba(255, 240, 209, 0.6000000238) 72.4%);
    }
    .sign-up-X78 {
      position: absolute;
      left: 119.2rem;
      top: 3.3rem;
      border-radius: 1.5rem;
      width: 9.8rem;
      height: 4.7rem;

      .rectangle-21-3rA {
        box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
        background-color: #edeeff;
        border-radius: 1.5rem;
        width: 8.8rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .sign-up-Ynv {
        position: absolute;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        top: 1.2rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        width: 6.4rem;
        height: 2rem;
        left: 1.2rem;
      }
    }
    .sign-in-3Dt {
      height: 2rem;
      top: 4.5rem;
      font-size: 1.6rem;
      font-weight: 700;
      white-space: nowrap;
      width: 5.8rem;
      position: absolute;
      left: 111rem;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .tittes-9Gv {
      display: flex;
      align-items: flex-end;
      width: 35.2451rem;
      height: 2.1rem;
      position: absolute;
      left: 54.5rem;
      top: 4.1rem;

      .product-rSE {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.1331rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2175;
      }
      .subscription-nKt {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 5.012rem 0.1rem 0rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2175;
      }
      .about-us-hhk {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .slogan-q3G {
      position: absolute;
      left: 34.8rem;
      top: 20.4rem;
      width: 72.3rem;
      height: 22.4rem;

      .unlock-your-mSi {
        left: 3rem;
        top: 0;
        font-weight: 900;
        line-height: 1.2175;
        color: #242424;
        height: 12.7rem;
        position: absolute;
        letter-spacing: -0.104rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 67.2rem;
        font-size: 10.4rem;
      }
      .typing-speed-3f8 {
        white-space: nowrap;
        display: flex;
        font-size: 10.4rem;
        font-weight: 900;
        font-family: Montserrat, 'Source Sans Pro';
        height: 12.7rem;
        left: 0;
        color: #242424;
        width: 72.3rem;
        position: absolute;
        top: 9.7rem;
        line-height: 1.2175;
        letter-spacing: -0.104rem;
        align-items: baseline;

        .typing-speed-3f8-sub-0 {
        }
        .typing-speed-3f8-sub-1 {
          letter-spacing: -0.104rem;
          color: #de3c3c;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 10.4rem;
          font-weight: 900;
          line-height: 1.2175;
        }
      }
    }
    .get-started-kbU {
      justify-content: center;
      position: absolute;
      line-height: 1.2175;
      color: #000000;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      height: 6.9rem;
      left: 63.5rem;
      display: flex;
      white-space: nowrap;
      align-items: center;
      font-weight: 700;
      letter-spacing: -0.02rem;
      font-family: Montserrat, 'Source Sans Pro';
      background-color: #ffffff;
      border-radius: 1.5rem;
      width: 17rem;
      top: 47.8rem;
      font-size: 2rem;
    }
    .menu-pepe-yj8 {
      vertical-align: top;
      border-radius: 3.3rem;
      width: 112rem;
      height: 67.1rem;
      position: absolute;
      left: 16rem;
      top: 59.7rem;
      object-fit: cover;
    }
    .full-logo-u6z {
      height: 6.6rem;
      position: absolute;
      top: 2.4rem;
      display: flex;
      box-sizing: border-box;
      width: 17.4rem;
      left: 16.8rem;
      align-items: center;
      padding-left: 0.4rem;

      .logo-Pnr {
        width: 5.4rem;
        height: 5.3486rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.8rem 0.451rem 0rem;
      }
      .line-logo-i4S {
        height: 6.2rem;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 1rem 0.4rem 0rem;
        width: 0.1rem;
      }
      .typing-lab-cvW {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.1rem;
        max-width: 9.7rem;
        font-size: 2.4rem;
        font-weight: 900;
        line-height: 1.2175;
        color: #000000;
      }
    }
  }
  .auto-group-mitz-Xna {
    margin: 0rem 16rem 9.1rem 16rem;
    width: calc(100% - 32rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-z3aa-rZx {
      flex-shrink: 0;
      margin: 2rem 11.9rem 0rem 0rem;
      display: flex;
      flex-direction: column;

      .quite-simple-too-effective-CNv {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 45.1rem;
        line-height: 1.2175;
        letter-spacing: -0.056rem;
        color: #000000;
        margin-bottom: 0.8rem;
        font-size: 5.6rem;
        font-weight: 900;
      }
      .you-can-extremely-quickly-develop-your-typing-skills-and-most-importantly-do-it-with-pleasure-the-whole-process-is-like-a-game-6jC {
        letter-spacing: 0.0595rem;
        color: #8a8a8a;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 43.7rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2175;
      }
    }
    .stats-1st-section-Mf8 {
      border-radius: 3.3rem;
      flex-shrink: 0;
      width: 55rem;
      height: 31.3rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-qmbg-HYn {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10.4rem 19.3rem 10.3rem 16.6rem;
    width: 100%;
    height: 59.6rem;

    .basic-subscrip-ann {
      background: linear-gradient(180deg, rgba(255, 246, 228, 0.9399999976) -0%, rgba(255, 255, 255, 0) 66.15%);
      flex-shrink: 0;
      padding: 4.3rem 2.3rem 7.7rem 2.2rem;
      flex-direction: column;
      border: solid 0.1rem #000000;
      height: 100%;
      align-items: center;
      display: flex;
      border-radius: 3.8rem;
      margin-right: 1.7rem;
      box-sizing: border-box;
      width: 26.5rem;

      .basic-V94 {
        flex-shrink: 0;
        margin: 0rem 5.2rem 5.2rem 0rem;
        display: flex;
        flex-direction: column;

        .basic-pSE {
          margin-bottom: 0.7rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .prefect-plan-for-startes-9UW {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #8a8a8a;
        }
      }
      .auto-group-qskx-57G {
        height: 7.8rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 12.2rem 0.6rem 1.4rem;
        width: calc(100% - 13.6rem);

        .basic-price-nnN {
          margin-right: 0.1rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .item--wQN {
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 1.3rem 0.4rem 0rem 0rem;
            font-size: 1.2rem;
          }
          .item-0-K3Y {
            flex-shrink: 0;
            font-size: 6.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .free-r3U {
          line-height: 1.2175;
          color: #8a8a8a;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.3rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
      .sub-line-2-B5k {
        flex-shrink: 0;
        margin-bottom: 2.6rem;
        width: 100%;
        height: 0.1rem;
        background-color: #d9d9d9;
      }
      .basic-features-7k6 {
        margin-right: 4.5rem;
        width: 14.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-vgoc-G7C {
          margin-bottom: 1.4rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--1aa {
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
            font-size: 1.2rem;
          }
          .unlimited-training-jmU {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-reee-ssg {
          margin: 0rem 0.2rem 0rem 0.1rem;
          width: calc(100% - 0.3rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--1DC {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 1.8rem 0.1rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
          }
          .ordinary-statistics-jQ6 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
    }
    .premium-subscrip-y3Y {
      width: 26.2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #000000;
      border-radius: 3.8rem;
      flex-shrink: 0;
      margin-right: 11.5rem;
      box-sizing: border-box;
      padding: 4.3rem 2.3rem 3.2rem 1.9rem;
      align-items: center;
      background: linear-gradient(180deg, rgba(232, 214, 246, 0.9499999881) -0%, rgba(255, 255, 255, 0) 63.02%);

      .premium-4qg {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 4.5rem 5.2rem 1.9rem;
        width: calc(100% - 6.4rem);
        align-items: center;
        display: flex;

        .premium-yhk {
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .for-users-who-want-more-urJ {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #8a8a8a;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-hivv-qEA {
        margin: 0rem 1.7rem 0.6rem 1.9rem;
        width: calc(100% - 3.6rem);
        height: 7.8rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .premium-price-wnz {
          margin-right: 0.8rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .item--tiE {
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 1.3rem 0.4rem 0rem 0rem;
            font-size: 1.2rem;
          }
          .item-199-RTG {
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 6.4rem;
          }
        }
        .month-Z3g {
          color: #8a8a8a;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.3rem;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.2175;
        }
      }
      .sub-line-k8A {
        height: 0.1rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 2.6rem;
        width: 100%;
      }
      .premium-features-Hdt {
        margin: 0rem 2.7rem 0rem 2.5rem;
        width: calc(100% - 5.2rem);
        row-gap: 1.4rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-tkqv-ocE {
          margin-right: 2.5rem;
          width: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--Y42 {
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
            font-size: 1.2rem;
          }
          .unlimited-training-Fz2 {
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
          }
        }
        .auto-group-hu2v-PKY {
          margin: 0rem 2.2rem 0rem 0.1rem;
          width: calc(100% - 2.3rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--Wux {
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 1.8rem 0.1rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
          .extended-statistics-39C {
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
        .auto-group-drtx-m5C {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-left: 0.1rem;
          width: calc(100% - 0.1rem);

          .item--Jav {
            margin-right: 1.8rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .access-to-all-workouts-and-mods-ePt {
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.1rem;
            max-width: 13.8rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
          }
        }
      }
    }
    .auto-group-p4la-g5g {
      margin: 6.2rem 0rem 11.9rem 0rem;
      height: calc(100% - 18.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .speed-up-your-progress-byL {
        max-width: 42.2rem;
        font-size: 5.6rem;
        font-weight: 900;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.8rem;
      }
      .subscribe-to-typing-lab-premium-to-get-all-the-features-of-our-service-and-increase-your-speed-even-faster-vVp {
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.0595rem;
        color: #8a8a8a;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 40.9rem;
        font-size: 1.7rem;
      }
    }
  }
  .auto-group-rwj8-P8W {
    margin-bottom: 14.9rem;
    width: 146.8rem;
    height: 76.3rem;
    position: relative;
    flex-shrink: 0;

    .white-backgr-K2A {
      top: 0;
      background-color: #ffffff;
      width: 146.8rem;
      height: 51.2rem;
      position: absolute;
      left: 0;
    }
    .what-goal-are-we-pursuing-rXt {
      height: 6.9rem;
      left: 28.7rem;
      top: 11.6rem;
      font-weight: 900;
      font-family: Montserrat, 'Source Sans Pro';
      width: 86.4rem;
      position: absolute;
      font-size: 5.6rem;
      line-height: 1.2175;
      color: #000000;
      white-space: nowrap;
    }
    .time-is-a-very-valuable-thing-and-we-are-just-people-who-want-to-save-it-and-give-you-the-opportunity-to-work-more-efficiently-and-in-addition-get-a-cool-hard-skill-in-your-piggy-bank-kNN {
      height: 10.4rem;
      position: absolute;
      font-weight: 500;
      font-family: Montserrat, 'Source Sans Pro';
      color: #000000;
      width: 74.2rem;
      left: 35rem;
      top: 23.1rem;
      font-size: 1.7rem;
      line-height: 1.2175;

      .time-is-a-very-valuable-thing-and-we-are-just-people-who-want-to-save-it-and-give-you-the-opportunity-to-work-more-efficiently-and-in-addition-get-a-cool-hard-skill-in-your-piggy-bank-kNN-sub-0 {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.0595rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .time-is-a-very-valuable-thing-and-we-are-just-people-who-want-to-save-it-and-give-you-the-opportunity-to-work-more-efficiently-and-in-addition-get-a-cool-hard-skill-in-your-piggy-bank-kNN-sub-1 {
      }
    }
    .stats-gYr {
      height: 41.8rem;
      position: absolute;
      left: 25.2rem;
      top: 34.5rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 93.7rem;
    }
  }
  .auto-group-1drr-nrn {
    padding: 2.3rem 21.7rem 12.6rem 16rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #23272a;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-zm2a-X3g {
      margin-bottom: 0.9rem;
      width: 100%;
      height: 15.6rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .full-logo-bottom-FkN {
        margin-right: 20.6rem;
        box-sizing: border-box;
        padding-left: 0.4rem;
        height: 6.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .logo-B8E {
          margin: 0rem 0.8rem 0.451rem 0rem;
          width: 5.4rem;
          height: 5.3486rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .line-logo-hMU {
          flex-shrink: 0;
          margin: 0rem 1rem 0.4rem 0rem;
          width: 0.1rem;
          height: 6.2rem;
          background-color: #ffffff;
        }
        .typing-lab-1NA {
          max-width: 9.7rem;
          font-size: 2.4rem;
          font-weight: 900;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.1rem;
        }
      }
      .auto-group-yv8n-inN {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .description-UWe {
          margin-bottom: 2.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .product-d8e {
            margin-right: 12.8rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #475ed0;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .company-mEr {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 12.7rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #475ed0;
          }
          .resourses-ubx {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 12.9rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #475ed0;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .policies-Eu8 {
            font-weight: 600;
            line-height: 1.2175;
            color: #475ed0;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .auto-group-2ere-NkS {
          margin-left: 0.1rem;
          width: 68.2rem;
          height: 11.4rem;
          position: relative;
          flex-shrink: 0;

          .group-15-K9t {
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            width: 68.2rem;
            height: 10.2rem;
            position: absolute;

            .auto-group-8drz-fDk {
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 12.4rem;

              .status-oKx {
                line-height: 1.2175;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 14.1rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .auto-group-hjli-wSA {
                margin-right: 15.7rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .about-t6W {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2175;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 0rem 1.3rem 0.2rem;
                }
                .jobs-1S2 {
                  font-weight: 400;
                  line-height: 1.2175;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 0rem 1rem 0.2rem;
                  font-size: 1.6rem;
                }
                .brand-LDQ {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2175;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                }
              }
              .auto-group-41f8-U4i {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .support-cwc {
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1.3rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2175;
                }
                .blog-knv {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2175;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .developers-6rn {
                  line-height: 1.2175;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
            }
            .auto-group-p7ja-qZU {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .terms-Pqt {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.3rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2175;
                color: #ffffff;
              }
              .privacy-juk {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2175;
                color: #ffffff;
              }
              .cookie-settings-tXk {
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 6.7rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2175;
                color: #ffffff;
              }
            }
          }
          .community-Dpv {
            left: 40.1rem;
            top: 9.3rem;
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            width: 10.3rem;
            height: 2.1rem;
            position: absolute;
            font-size: 1.7rem;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
    }
    .feedback-uhk {
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 58.5rem;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
}
