<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Typing Lab</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="gradbg">
    <nav class="desktop_nav">
        <div class="logo">
            <a href="#">
                <img src="../assets/full%20logo.svg" alt="">
            </a>
        </div>
        <ul class="nav_links">
            <li id="link1" class="link"><a href="#Product"> Product</a></li>
            <li id="link2" class="link"><a href="#Subscription">Subscription</a></li>
            <li id="link3" class="link"><a href="#About us"> About us</a></li>
        </ul>
        <div class="buttonss">
            <a href="sign_in_page.html">
                <button id="btnsi" class="sign_in_btn">Sign in</button>
            </a>
            <a href="sign_up_page.html">
                <button id="btnsu" class="sign_up_btn">Sign up</button>
            </a>
        </div>
    </nav>
    <header class="slogan">
        <div class="slogan_container">
            <h1 class="unlock">Unlock your</h1>
            <h1 class="typing">Typing <span>speed</span></h1>
        </div>
        <button id="btngs" class="get_started" >Get Started</button>
        <div class="pepegaImg">
            <img src="../assets/2024-04-21%2002.52.23.jpg" alt="">
        </div>
    </header>
</div>
<div class="block_1">
    <div class="product">
        <h1 class="product_slogan">
            Quite simple <br>
            & Too effective
        </h1>
        <p> You can extremely quickly develop your typing <br> skills and most importantly, do it with pleasure. <br>
            The whole process is like a game.
        </p>
    </div>
    <div class="statss">
        <img src="../assets/Stats%201st%20section.png" alt="">
    </div>
</div>

<div class="block_2_bg">
    <section>
        <div class="block_2">
            <div class="subss">
                <img src="../assets/Basic%20subscrip.svg" alt="">
                <img src="../assets/Premium%20subscrip.svg" alt="">
            </div>
            <div class="subscrip">
                <h1 class="sub_slogan">
                    Speed up <br>
                    your progress
                </h1>
                <p>
                    Subscribe to Typing Lab Premium to get all <br> the features of our service and increase your <br> speed even faster
                </p>
            </div>
        </div>
    </section>
</div>

<div class="block_3">
    <div class="about_uss">
        <h1 class="auss">
            What goal are we pursuing?
        </h1>
        <p>Time is a very valuable thing, and we are just people who want to save it and <br> give you the opportunity to work more efficiently and, in addition, get a cool
            <br> hard skill in your piggy bank.
        </p>
    </div>
    <img src="../assets/Stats.png" alt="">
</div>

<div class="foot_bg">
    <footer class="containerrr">
        <div class="column">
            <div class="logo_foot">
                <img src="../assets/full%20logo%20bottom.svg" alt="">
            </div>
        </div>
        <div class="column">
            <h4>Company</h4>
            <a href="#">Jobs</a>
            <a href="#">About</a>
        </div>

        <div class="column">
            <h4>Resources</h4>
            <a href="#">Support</a>
            <a href="#">Blog</a>
            <a href="#">Developers</a>
            <a href="#">Community</a>
        </div>
        <div class="column">
            <h4>Policies</h4>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
        </div>
    </footer>
</div>
<script src="../scripts/landing_script.js"> </script>
</body>
</html>